input[name="screen_name"] {
    width: 180px;
}

.play-container {
    margin: auto;
    width: 620px;
    background-color: white;
}

@media(max-height: 500px) {
    .title-heading {
        display: none;
    }

    .toast {
        font-size: 110%;
        padding: 7px;
        border-radius: 5px;
    }
}

@media(max-width: 620px) {
    .play-container {
        width: 100%;
    }

    .desktop {
        display: none;
    }
}

@media(min-width: 621px) {
    .touch {
        display: none;
    }
}

.play-container h1 {
    text-align: center;
}

.game-area {
    position: relative;
    padding: 10px;
    background-color: lightgray;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
}

/* CSS-hack to make the height of game-area canvas the same as the width*/
.canvas-resize-dummy {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.game-area canvas {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
}

.game-area .stats-box {
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    top: 15px;
    left: 15px;
    min-height: 50px;
    min-width: 200px;
    background-color: lightgray;
    opacity: 0.5;
}

.game-area .keyinfo-box {
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    top: 40%;
    left: 30%;
    width: 40%;
    background-color: lightgray;
    opacity: 0.3;
    font-size: 90%;
    color: black;
}

.hide {
    display: none;
}

.keyinfo-box.desktop strong {
    width: 40%;
    display: inline-block;
}

.keyinfo-box.touch {
    top: 25%;
    left: 10%;
    width: 80%;
}

.stats-box ul {
    margin-bottom: 0;
}

.toast {
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
    background-color: #93ccff;
    opacity: 0.75;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}

.toast .submessage {
    font-size: 60%;
}

.debug-data {
color: lightgray;
}