input[name="screen_name"] {
    width: 180px;
}


.play-container {
    margin: auto;
    width: 620px;
    background-color: white;
}

.play-container h1 {
    text-align: center;
}

.game-area {
    position: relative;
    padding: 10px;
    background-color: lightgray;
    display: inline-block;
    border-radius: 5px;
}

.game-area canvas {
    border-radius: 5px;
}

.game-area .stats-box {
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    top: 15px;
    left: 15px;
    min-height: 50px;
    min-width: 200px;
    background-color: lightgray;
    opacity: 0.5;
}

.stats-box ul {
    margin-bottom: 0;
}

.toast {
    position: absolute;
    top: 225px;
    border-radius: 15px;
    left: 180px;
    padding: 20px;
    height: 160px;
    width: 250px;
    background-color: lightblue;
    opacity: 0.75;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}

.debug-data {
    color: lightgray;
}